/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;
    transition: .3s;
}
/* VARIABLES */
:root {
/* PRIMARY */
    --Cream: hsl(30, 38%, 92%);
    --Dark-cyan: hsl(158, 36%, 37%);
/* NEUTRAL */
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}
body {
    background-color: var(--Cream);
}
p {
    font-size: 1.05rem;
    line-height: 1.7rem;
    color: var(--Dark-grayish-blue);
}
.container {
    width: 100%;
    max-width: 730px;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    align-items: center;
}
.sub-container {
    background-color: var(--White);
    border-radius: 1rem;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-template-rows: 550px;
}
.image {
    background-image: url(../images/image-product-desktop.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
    border-radius: 1rem 0 0 1rem;
}
.info-container {
    width: 100%;
    height: auto;
    padding: 0.4rem 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.info-container h1 {
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.45rem;
    color: var(--Dark-grayish-blue);
}
.info-container h2 {
    font-family: 'Fraunces', serif;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 2.5rem;
    color: var(--Very-dark-blue)
}
/* PRICE CONTAINER */
.price {
    width: 100%;
    display: flex;
    gap: 1.5rem;
}
.price p:nth-child(1) {
    font-family: 'Fraunces', serif;
    font-size: 2.5rem;
    color: var(--Dark-cyan);
}
.price p:nth-child(2) {
    text-decoration:line-through;
}
/* BUTTON CONTAINER */
.button {
    background-color: var(--Dark-cyan);
    border-radius: 0.6rem;
    padding: 1.1rem;
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    align-items: center;
}
.button:hover {
    background-color: hsl(158, 29%, 22%);
    cursor: pointer;
}
.button img {
    width: 1.2rem;
    height: 1.2rem;
}
.button p {
    color: var(--White);
    font-size: 1.1rem;
    line-height: 1.5rem;
    text-align: center;
}

/* MEDIA QUERIES */
@media (max-width: 639px) {
    .container {
        width: 93%;
    }
    .sub-container {
    grid-template-rows: 2fr 3fr;
    }
    .image {
        background-image: url(../images/image-product-mobile.jpg);
        background-position: center;
        background-size: cover;
        width: 100%;
        border-radius: 1rem 1rem 0 0;
    }
    .info-container {
        height: 378px;
        padding: 1.1rem 1.5rem;
    }
    .info-container h1 {
        font-size: 0.75rem;
        letter-spacing: 0.35rem;
    }
    .info-container h2 {
        font-size: 2rem;
        line-height: 2rem;
    }
    p {
        font-size: 0.9rem;
        line-height: 1.4rem;
    }
    .price p:nth-child(1) {
        font-size: 1.9rem;
    }
    .button {
        padding: 0.8rem;
    }
    .button img {
        width: 1rem;
        height: 1rem;
    }
    .button p {
        font-size: 0.9rem;
    }
}